{% extends "base.html" %}

{% block content %}
<div class="ui centered grid">
  <div class="eight wide column">
      <div class="ui raised very padded text container segment">
        <h2 class="ui header">Fundus Retinal Image Processor</h2>
        <img src="static/digital_eye.png" style="max-width:100%; height:auto;">
        <p>RetinoGuardAI is an AI-powered system for diagnosing diabetic retinopathy.</p>
        <a href="/about" <p>What is diabetic retinopathy?</p></a>
        <div class="ui divider"></div>
        <p>Please upload a retinal image below to receive a diagnosis:</p>
        <form class="ui form" method="POST" enctype="multipart/form-data" action="/predict" id="image-form">
          <div class="field">
            <label>Retinal Image</label>
            <input type="file" name="image" onchange="previewImage(event)">
          </div>
          <button class="ui yellow button" type="submit" id="submit-button">Analyze Image</button>
        </form>
        <div class="ui segment preview-image" style="display: none;">
          <h4 class="ui header">Preview Image</h4>
          <img id="image-preview" src="" alt="Preview Image">
        </div>
      </div>
    </div>
  </div>
  <style>
    p {
      color: black;
    }
    .ui.container.segment {
      text-align: left !important;
    }
  </style>

  <div class="ui dimmer" id="loader">
    <div class="ui text loader">Loading...</div>
  </div>
{% endblock %}

{% block custom_js %}
  <script type="text/javascript">
    const form = document.querySelector('#image-form');
    const submitButton = document.querySelector('#submit-button');
    const loader = document.querySelector('#loader');

    form.addEventListener('submit', function(e) {
      loader.classList.add('active');
      submitButton.classList.add('disabled');
    });

    window.addEventListener('beforeunload', function() {
      loader.classList.add('active');
    });
  </script>
{% endblock %}
